<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>DailyRoutineApp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div class="header" th:insert="account/acIndex :: header"></div>

<section class="bg-light text-center py-5 mr-5 ml-5 ">
	<h2 class="text-white py-3 mb-4" style=background:gray th:text="${title}">Routine一覧</h2>
	<div class="card-columns">

		<div th:each="list : ${list}">
		  <div class="card mb-4">
		  	<div class="card-header">
				<h5 class="card-title pt-2" th:text="${list.title}">Card title</h5>
			</div>
			  	<div class="card-body">
				    <h5 class="card-subtitle text-right "><a class="btn btn-secondary rounded-pill" th:href="@{/routine/index/{accountname}(accountname=${list.account.accountname})}" th:text="|作成者：${list.account.accountname}|"></a></h5>
				    <p class="card-text text-right text-danger mb-3" th:text="|♥：${list.nicepnt}|"></p>
				    <p class="card-text mb-4" th:text="|内容：${list.description} ...|"></p>

				    <a th:href="@{/routine/show/{routineid}(routineid=${list.routineid})}" class="card-link btn btn-sm btn-info" th:text="詳細を見てみる"></a>
				    <br/><br/>
				    <form th:action="@{/routine/index}" method=post>
						<input type="hidden" name="routineid" th:value="${list.routineid}" />
						<input th:if="${session.account.accountname}==${list.account.accountname}" type="button" value=" ♥イイネ！"  class="btn btn-outline-danger btn-sm rounded-pill mb-2 disabled" aria-disabled="true"/>
						<input th:unless="${session.account.accountname}==${list.account.accountname}" type="submit" value=" ♥イイネ！"  class="btn btn-outline-danger btn-sm rounded-pill mb-2"/>
					</form>
				 </div>
		  </div>
		</div>

	</div>

	 <div th:insert ="account/acIndex :: pagenation"></div>
</section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>