<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DailyRoutineApp</title>
    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
  <script src="js/script.js">
  </script>
   -->
  <link rel="stylesheet" media="all"
        th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
  <script src="js/script.js">
  </script>
    <style>
      .cover {

        background: url(img/bg.png);

        background-size: cover;

      }

    </style>
</head>
<body>
	<div class="header" th:insert="account/acIndex :: header"></div>

  <div class="container">
    <h1 class="pb-2 mt-4 mb-2 border-bottom border-primary">
      お問い合わせ
    </h1>
    <div>
      <p>以下を入力して送信ボタンをクリックしてください。</p>
      <form name="contactform" id="contactform" role="form">
        <div class="form-group">
          <label for="inputName" class="col-sm-3 ">お名前</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name"
                   placeholder="お名前" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-3">メールアドレス</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" name="email"
                   placeholder="メールアドレス" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputMessage" class="col-sm-3">お問い合わせ内容</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="message" rows="5">
            </textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="button" name="btnSubmit"
                  class="btn btn-success " id="btnSend">送信する</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 -->
</body>
</html>