<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>日課共有アプリケーション</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
		<div th:if=${msg!=null} class="alert alert-success text-center mb-0 rounded-0 alert-dismissible fade show">
			<span th:text="${msg}"></span>
			<button class="close" data-dismiss="alert">
			  &times;
			</button>
		</div>
<section class="text-center bg-light pr-5 pl-5 pt-5 container">
	<div class="box">
	   <h1>DailyRoutineAPP</h1>
	   <img th:src="@{/img/neko.png}" width=25% height=25% class="img-thumbnail mt-3">
	   <form role="form" id="login" th:action="@{/login}" method="post" class="pt-5">
	        <div th:if="${iserror}" style="color:red;">
	            <p>ログインできませんでした。やりなおしてください。</p>
	        </div>
	        <div class="form-group">
		        <p class=" font-weight-bold ">ユーザーID</p>
		        <input type="text" id="username" name="username" autofocus="autofocus" placeholder="ユーザーID"/>
		    </div>
		    <div class="form-group pt-2">
		        <p  class="col-form-label font-weight-bold">パスワード</p>
		        <input type="password" id="password" name="password" placeholder="password"/><br/>

		    </div>
	        <button type="submit" class="btn btn-success">ログイン</button>
	   </form>
	</div>

	<div class="pt-3">
		<p th:text="アカウントをお持ちではありませんか？"></p>
		<a th:href="@{/account/new}" class="text-success font-weight-bold" th:text="アカウントを作成"></a>
	</div>
</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>