<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日課共有システム</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<header class="header" th:insert="account/acIndex :: header"></header>

<section class="bg-light text-center py-5 container">
		<h2 class="text-white py-3" style=background:gray>Routine Details</h2>
		<!-- <div><a th:href="@{/user/index}" href="{/user/index}">アカウント一覧へ戻る</a></div> -->
	<div>
		<table class="table table-striped table-bordered text-lg" th:object = "${formModel}">
			<tr>
				<td  class="col-sm-3 col-form-label font-weight-bold" th:text="|作成者：${formModel.account.accountname}|"></td></tr>
			<tr>
				<td  class="col-sm-3 col-form-label font-weight-bold" th:text="|タイトル：${formModel.title}|"></td>
			</tr>
			<tr>
				<td  class="col-sm-3 col-form-label font-weight-bold" th:text="|イイネ数：${formModel.nicepnt}|"></td>
			</tr>
			<!-- <tr><td th:if="${formModel.admin}==0" th:text="権限(ROLE)：USER"></td></tr> -->
		</table>
	</div>
</section>

<section class="bg-white text-center py-3 container">

	<form th:action="@{/content/new}" method=post>
		<input type="hidden" name="routineid" th:value="${formModel.routineid}" />
		<input type="submit" value="内容を追加する"  class="btn btn-outline-primary btn-lg"/>
	</form>
</section>

<section class="bg-white text-center py-3 container">

	<form th:action="@{/routine/index}" method=post>
		<input type="hidden" name="routineid" th:value="${formModel.routineid}" />
		<input type="submit" value="イイネ！"  class="btn btn-outline-danger btn-lg"/>
	</form>
</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>